<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue - First Steps</title>
  </head>
  <body>
    <div id="app">
      <div v-if="ehIsso">
        <a :href="href">Yeah!</a>
        <p v-show="ehNada">Eita!</p>
        <input
          :style="{display: espacozao}"
          v-model="inputContent"
          value="inputContent"
        />
        <p>{{ inputContent }}</p>
      </div>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          mensagem: "Hello World",
          href: "http://www.clickjogos.com.br/jogos-de-gatos",
          ehIsso: true,
          ehNada: false,
          inputContent: "Shabba Ranks",
          espacozao: "block"
        }
      });
    </script>
  </body>
</html>
